# Dependências
node_modules/
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs e relatórios
logs/
*.log
*.tmp
*.out
*.pid
*.seed
*.gz
pids/
*.pid.lock

# Build / Produção
dist/
build/
coverage/
lib/
.tmp/
.cache/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Testes
coverage/
jest-html-reporters-*

# Docker
docker-compose.override.yml

# Outras ferramentas
.nyc_output/
.eslintcache
.stylelintcache
